In [5]:
import pandas as pd

In [6]:
pd.__version__

'1.2.4'

### Create a datetime column from a dataframe

In [7]:
df = pd.DataFrame([[12, 25, 2017, 10], [1, 14, 2018, 11]],
                     columns=["month", "day", "Year", "hour"])

df

   month  day  Year  hour
0     12   25  2017    10
1      1   14  2018    11

In [8]:
pd.to_datetime(df)

0   2017-12-25 10:00:00
1   2018-01-14 11:00:00
dtype: datetime64[ns]