In [1]:
from pymongo import MongoClient
import time

In [2]:
# To connect to mongodb keep start mongodb service in background 
# use command (net start MongoDB)

# After Use Stop the service
# net stop MongoDB

In [3]:
def connect_to_db():
    try:
        client = MongoClient('mongodb://localhost:27017/')
        print('Trying to connect to the database ')

        # Enforce to chk database 
        client.server_info()
        time.sleep(2)    

        db = client.university
        collection = db.student
        
        print('Connected Successfully')
        return collection

    except Exception as e:
        print('An error occured while connecting to the database')
        print(e)

In [4]:
def fetch_record():
    collection = connect_to_db()
    if collection:
        query = {
            'name' : 'Hamza Khalid',
            'phone' : {'$regex' : '9800'}
        }
        try:
            data = collection.find(query)
            for record in data:
                print(record)

        except Exception as e :
            print('Error occured while fetching data')
            print(e)

In [5]:
fetch_record()

Trying to connect to the database
Connected Successfully
{'_id': ObjectId('61489f1cac973c75b2ef9b2f'), 'id': 3, 'name': 'Hamza Khalid', 'phone': '03153459800', 'email': 'hamzakhalidcs007@gmail.com', 'subjects': 'physics'}

## Connect To Sql Server

In [5]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\pc\appdata\local\programs\python\python37\lib\site-packages (4.0.32)

WARNING: You are using pip version 20.1.1; however, version 24.0 is available.
You should consider upgrading via the 'c:\users\pc\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [9]:
import pyodbc, sys
import pandas as pd

In [10]:
driver = '{SQL Server}'
server = 'DESKTOP-959UNBS'
database = 'Adventureworks'

In [ ]:
try:
    conn = pyodbc.connect(
        "Driver="+driver+';'
        "Server="+server+';'
        "Database"+database+';'
        "Trusted_Connection=yes;"
    ) 

    print("Connected Successfully")
    # print(pyodbc.drivers())
except Exception as e :
    print('Cannot connect to database' + str(sys.exc_info()[1]))

In [8]:
if conn:
    try:
        query = "select top 5 * from [Adventureworks].[HumanResources].[EmployeePayHistory]"
        data = pd.read_sql_query(query, conn)
        print(data)
    except Exception as e :
        print('cannot read the query correctly', str(sys.exc_info()[1]))

    finally:
        conn.close()
else : 
    print('Connection was not established, skipping data fetch.')

Connected Successfully
   BusinessEntityID RateChangeDate      Rate  PayFrequency ModifiedDate
0                 1     2009-01-14  183.7446             2   2014-06-30
1                 2     2008-01-31   82.5000             1   2014-06-30
2                 3     2007-11-11   49.5000             1   2014-06-30
3                 4     2007-12-05   12.6205             2   2007-11-21
4                 4     2010-05-31   34.7284             2   2010-05-16

In [6]:
import pandas as pd

# Sample DataFrame
data = {
    'BusinessEntityID': [1, 2, 3],
    'FirstName': ['John', 'Jane', 'Doe'],
    'LastName': ['Smith', 'Doe', 'Johnson']
}
df = pd.DataFrame(data)

# Initialize an empty list for the payload
payload = []

# Iterate through each row in the DataFrame
for index, row in df.iterrows():
    # Create a dictionary for each row
    row_data = {
        'BusinessEntityID': row['BusinessEntityID'],
        'FirstName': row['FirstName'],
        'LastName': row['LastName']
    }
    
    # Append the row data to the payload list
    payload.append(row_data)

# Print or use the payload as needed
print("Payload:", payload)

Payload: [{'BusinessEntityID': 1, 'FirstName': 'John', 'LastName': 'Smith'}, {'BusinessEntityID': 2, 'FirstName': 'Jane', 'LastName': 'Doe'}, {'BusinessEntityID': 3, 'FirstName': 'Doe', 'LastName': 'Johnson'}]

In [2]:
payload = []
for index, row in df.iterrows():
    row_data= {
        'BusinessEntityID' : row['BusinessEntityID'],
        'FirstName': row['FirstName'],
        'LastName' : row['LastName']
    }
    payload.append(row_data)
print('Payload', payload)

Payload [{'BusinessEntityID': 1, 'FirstName': 'John', 'LastName': 'Smith'}, {'BusinessEntityID': 2, 'FirstName': 'Jane', 'LastName': 'Doe'}, {'BusinessEntityID': 3, 'FirstName': 'Doe', 'LastName': 'Johnson'}]

In [5]:
payload = []

for index, row in df.iterrows():
    row_data = {
        'BusinessEntityID' : row['BusinessEntityID'],
        'FirstName' : row['FirstName'],
        'LastName' : row['LastName']
    }
    payload.append(row_data)
    
print(payload)

[{'BusinessEntityID': 1, 'FirstName': 'John', 'LastName': 'Smith'}, {'BusinessEntityID': 2, 'FirstName': 'Jane', 'LastName': 'Doe'}, {'BusinessEntityID': 3, 'FirstName': 'Doe', 'LastName': 'Johnson'}]

In [6]:
df = pd.read_csv('data_sets/details.csv')

In [7]:
df.head()

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
0,B-25681,1096,658,7,Electronics,Electronic Games,COD
1,B-26055,5729,64,14,Furniture,Chairs,EMI
2,B-25955,2927,146,8,Furniture,Bookcases,EMI
3,B-26093,2847,712,8,Electronics,Printers,Credit Card
4,B-25602,2617,1151,4,Electronics,Phones,Credit Card

In [8]:
payload = []

for index, row in df.head().iterrows():
    row_data = {
        'Order ID' : row['Order ID'],
        'Amount' : row['Amount'],
        'Profit' : row['Profit'],
        'Quantity' : row['Quantity'],
        'Category' : row['Category'],
        'Sub-Category' : row['Sub-Category'],
        'PaymentMode' : row['PaymentMode']
    }
    
    payload.append(row_data)

In [24]:
payload

[{'Order ID': 'B-25681',
  'Amount': 1096,
  'Profit': 658,
  'Quantity': 7,
  'Category': 'Electronics',
  'Sub-Category': 'Electronic Games',
  'PaymentMode': 'COD'},
 {'Order ID': 'B-26055',
  'Amount': 5729,
  'Profit': 64,
  'Quantity': 14,
  'Category': 'Furniture',
  'Sub-Category': 'Chairs',
  'PaymentMode': 'EMI'},
 {'Order ID': 'B-25955',
  'Amount': 2927,
  'Profit': 146,
  'Quantity': 8,
  'Category': 'Furniture',
  'Sub-Category': 'Bookcases',
  'PaymentMode': 'EMI'}]