### Dictionary

In [1]:
import pandas as pd

In [2]:
square_dict = {num: num*num for num in range(1, 11)}
square_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [4]:
old_price = {'milk': 1.02, 'coffee': 2.5, 'bread': 2.5}
dollar_to_pound = 0.76

In [5]:
{item : value*dollar_to_pound for (item, value) in old_price.items()}

{'milk': 0.7752, 'coffee': 1.9, 'bread': 1.9}

In [4]:
new_price = {item : value*dollar_to_pound for (item, value) in old_price.items()}
new_price

{'milk': 0.7752, 'coffee': 1.9, 'bread': 1.9}

In [6]:
original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

In [8]:
{k:v for (k, v) in original_dict.items() if v%2==0 if v<40}

{'jack': 38}

In [6]:
even_dict = {k:v for (k, v) in original_dict.items() if v%2==0 if v<40}
even_dict

{'jack': 38}

In [7]:
odd_dict = {k:v for (k, v) in original_dict.items() if v%2!=0 if v<40}
print(odd_dict)

{'john': 33}

In [8]:
new_dict1 = {k:("old" if v>40 else "Young")
             for (k, v) in original_dict.items()
}

In [9]:
new_dict1

{'jack': 'Young', 'michael': 'old', 'guido': 'old', 'john': 'Young'}

In [5]:
names = ['Mariya', 'Gandllif', 'Batman']
c = ['Programmer', 'Wizard', 'superhero']

In [10]:
{key:val for (key, val) in zip(names, profession)}

{'Mariya': 'Programmer', 'Gandllif': 'Wizard', 'Batman': 'superhero'}

In [11]:
{(key if key!="Mariya" else "Hamza"):(val if val!="Programmer" else "Businessman") for(key, val) in zip(names, profession)}

{'Hamza': 'Businessman', 'Gandllif': 'Wizard', 'Batman': 'superhero'}

In [24]:
{(k if k!="Mariya" else "Hamza"):(v if v!="Progrmmer" else "Businessman") for (k, v) in zip(names, profession)}

{'Hamza': 'Programmer', 'Gandllif': 'Wizard', 'Batman': 'superhero'}

In [20]:
{(key if key!="Mariya" else "Hamza") :(val if val!="Programmer" else "Businessman") for (key, val) in zip(names, profession)}

{'Hamza': 'Businessman', 'Gandllif': 'Wizard', 'Batman': 'superhero'}

In [12]:
my_dict = {}

for (key, value) in zip(names, profession):
    my_dict[key] = value

print(my_dict)

{'Mariya': 'Programmer', 'Gandllif': 'Wizard', 'Batman': 'superhero'}

In [13]:
for i in range(3):
    my_dict[names[i]] = profession[i]

my_dict

{'Mariya': 'Programmer', 'Gandllif': 'Wizard', 'Batman': 'superhero'}

In [14]:
my_dict = {key:value for (key, value) in zip(names, profession)}
my_dict

{'Mariya': 'Programmer', 'Gandllif': 'Wizard', 'Batman': 'superhero'}

In [15]:
dict(zip(names, profession))

{'Mariya': 'Programmer', 'Gandllif': 'Wizard', 'Batman': 'superhero'}

In [16]:
my_dict = {names[i] : profession[i] for i in range(len(names))}
my_dict

{'Mariya': 'Programmer', 'Gandllif': 'Wizard', 'Batman': 'superhero'}

In [17]:
# same can do with the tuples , first we were dealing with the lists 
names = ('Mariya', 'Gandllif', 'Batman')
profession = ('Programmer', 'Wizard', 'superhero')

In [18]:
my_dict = {key:value for (key, value) in zip(names, profession)}
my_dict

{'Mariya': 'Programmer', 'Gandllif': 'Wizard', 'Batman': 'superhero'}

In [25]:
# Dealing in DataFrames
names_df  = pd.DataFrame(['Mariya', 'Gandllif', 'Batman'])
profession_df = pd.DataFrame(['Programmer', 'Wizard', 'superhero'])

In [26]:
my_dict = {key:value for (key, value) in zip(names_df[0], profession_df[0])}
my_dict

{'Mariya': 'Programmer', 'Gandllif': 'Wizard', 'Batman': 'superhero'}

In [27]:
# modify dictionary
my_dict = {
    "Spider" : "photographer",
    "Bat" : "Philanthropist",
    "Wonder Wo" : "nurse"
}

In [28]:
{k+"man":v for (k, v) in my_dict.items()}

{'Spiderman': 'photographer',
 'Batman': 'Philanthropist',
 'Wonder Woman': 'nurse'}

In [22]:
# add man with key,
# if key = Spider change it Superman,
# if value photographer change to journalist

In [13]:
modify_dict = {key+ "man": value for(key, value) in my_dict.items()}
modify_dict

{'Spiderman': 'photographer',
 'Batman': 'Philanthropist',
 'Wonder Woman': 'nurse'}

In [23]:
my_dict = {key+ "man": value for (key, value) in my_dict.items()}
my_dict

{'Spiderman': 'photographer',
 'Batman': 'Philanthropist',
 'Wonder Woman': 'nurse'}

In [3]:
# replacing spider with superman

test = {(key+"man" if key!= "Spiderman" else "superman"):val for (key, val) in my_dict.items()}
test

{'Spiderman': 'photographer',
 'Batman': 'Philanthropist',
 'Wonder Woman': 'nurse'}

In [2]:
{(key+"man" if key!="Spider" else "Superman"):(val if val!="photographer" else "Journalist") for (key, val) in my_dict.items()}

{'Superman': 'Journalist', 'Batman': 'Philanthropist', 'Wonder Woman': 'nurse'}

In [26]:
import random
bases = ["A", "T", "C", "G"]
strand1 = random.choices(bases, k=10)
strand1

['G', 'C', 'G', 'G', 'A', 'T', 'A', 'C', 'G', 'A']

### Nested Dictionary with Two Dictionary Comprehensions

In [31]:
dictionary = {
    k1 :{k2 :k1*k2 for k2 in range(1, 6)} for k1 in range(2, 5)
}
dictionary

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20}}

In [33]:
nested_dictionary = {
    k1 : {k2:k1*k2 for k2 in range(1, 6)} for k1 in range(2,5)
}
nested_dictionary

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20}}

In [28]:
dictionary

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20}}

### List Comprehension

In [29]:
square_list = [num*num for num in range(1, 11)]
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
square_list = [num*num for num in range(1, 5)]
square_list

[1, 4, 9, 16]

In [38]:
fruits = ["apple", "banana", "Mango"]

In [31]:
upper_fruit = [fruit.upper() for fruit in fruits]
upper_fruit

['APPLE', 'BANANA', 'MANGO']

In [40]:
bits = [False, True,False, True,False, True,True,False, True]

In [26]:
bits = [False, True,False, True,False, True,True,False, True]

In [33]:
# change False to 0 and True with 1
[1 if b==True else 0 for b in bits]

[0, 1, 0, 1, 0, 1, 1, 0, 1]

In [58]:
my_string = "HelloMyNameIsHamza"
"".join([i if i.islower() else " " + i for i in my_string])[1:]

'Hello My Name Is Hamza'

In [47]:
my_string = "HelloMyNameIsHamza"

In [50]:
"".join([i if i.islower() else " " + i for i in my_string])[1:]

'Hello My Name Is Hamza'

In [17]:
my_string = "HelloMyNameIsHamza"

In [35]:
"".join([i if i.islower() else " " + i for i in my_string])

' Hello My Name Is Hamza'

In [21]:
"".join([i if i.islower() else " " + i for i in my_string])[1:]

'Hello My Name Is Hamza'

In [52]:
# adding [1:] meand that will remove space in the start of string as above
"".join([i if i.islower() else " " + i.lower() if i in ["N", "I", "M"] else " " + i for i in my_string])[1:]

In [54]:
"".join([i if i.islower() else " " + i.lower() if i in ["N", "M", "I"] else " " + i for i in my_string])[1:]

'Hello my name is Hamza'

In [61]:
"".join([i if i.islower() else " " + i.lower() if i in ["N", "M" ,"I"] else " " + i for i in my_string])[1:]

'Hello my name is Hamza'

### Connetion to MongoDB

In [ ]:
import pandas as pd 
from pymongo import MongoClient

URL = "some_url"
conn = MongoClient(url)
db = conn["db_name"]