In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [1]:
print(soup)

In [7]:
soup.find('table')

In [9]:
soup.find_all('table')[1]

In [11]:
soup.find('table', class_ = 'wikitable sortable')

In [12]:
table = soup.find_all('table')[1]

In [1]:
print(table)

In [13]:
world_titles = table.find_all('th')

In [14]:
world_titles

[<th>Rank\n</th>,
 <th>Name\n</th>,
 <th>Industry\n</th>,
 <th>Revenue <br/>(USD millions)\n</th>,
 <th>Revenue growth\n</th>,
 <th>Employees\n</th>,
 <th>Headquarters\n</th>]

In [15]:
world_table_titles = [title.text.strip() for title in world_titles]

In [16]:
print(world_table_titles)

[u'Rank', u'Name', u'Industry', u'Revenue (USD millions)', u'Revenue growth', u'Employees', u'Headquarters']

In [17]:
df = pd.DataFrame(columns = world_table_titles)

In [18]:
column_data = table.find_all('tr')

In [20]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    
    # to get up to the length of df to insert data in rows 
    length = len(df)
    df.loc[length] = individual_row_data

In [23]:
df.head()

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,General merchandisers,"572,754",2.4%,"2,300,000","Bentonville, Arkansas"
1,2,Amazon,Retail and Cloud Computing,"469,822",21.7%,"1,608,000","Seattle, Washington"
2,3,Apple,Electronics industry,"365,817",33.2%,"154,000","Cupertino, California"
3,4,CVS Health,Healthcare,"292,111",32.0%,"258,000","Woonsocket, Rhode Island"
4,5,UnitedHealth Group,Healthcare,"287,597",11.8%,"350,000","Minnetonka, Minnesota"

In [22]:
len(df)

100

In [24]:
df.to_csv('listOfCompanies.csv', index=False)

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

soup.find('table')

soup.find_all('table')[1]

soup.find('table', class_ = 'wikitable sortable')

table = soup.find_all('table')[1]
print(table)

world_titles = table.find_all('th')
print(world_titles)

world_table_titles = [title.text.strip() for title in world_titles]
print(world_table_titles)

df = pd.DataFrame(columns = world_table_titles)

column_data = table.find_all('tr')

for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    
    length = len(df)
    df.loc[length] = individual_row_data