In [2]:
square_dict = {num:num*num for num in range(1, 11)}
square_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [4]:
old_price = {'milk' : 1.02, 'coffee':2.5, 'bread':2.5}
dollar_to_pound = 0.76

In [5]:
new_price = {item :value*dollar_to_pound for (item, value) in old_price.items()}
new_price

{'milk': 0.7752, 'coffee': 1.9, 'bread': 1.9}

In [6]:
original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

In [ ]:
even_dict = {k:v for (k, v) in original_dict.items() if }

In [1]:
from bs4 import BeautifulSoup
import pandas as pd 
import requests

In [3]:
url = "https://www/olx.com.pk/cars_c84?page=1"
resp = requests.get(url)

In [10]:
import pandas as pd 
from jupyter_datatables import init_datatables_mode

In [11]:
# pip install jupyter-datatables

In [12]:
%load_ext jupyter_require

%requirejs d3 https://d3js.org/d3.v5.min

init_datatables_mode()

The jupyter_require extension is already loaded. To reload it, use:
  %reload_ext jupyter_require

In [14]:
df = pd.read_csv("uber_data.csv")

In [16]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,3/1/2016 0:00,3/1/2016 0:07,1,2.50,-73.976746,40.765152,1,N,-74.004265,40.746128,1,9.0,0.5,0.5,2.05,0.00,0.3,12.35
1,1,3/1/2016 0:00,3/1/2016 0:11,1,2.90,-73.983482,40.767925,1,N,-74.005943,40.733166,1,11.0,0.5,0.5,3.05,0.00,0.3,15.35
2,2,3/1/2016 0:00,3/1/2016 0:31,2,19.98,-73.782021,40.644810,1,N,-73.974541,40.675770,1,54.5,0.5,0.5,8.00,0.00,0.3,63.80
3,2,3/1/2016 0:00,3/1/2016 0:00,3,10.78,-73.863419,40.769814,1,N,-73.969650,40.757767,1,31.5,0.0,0.5,3.78,5.54,0.3,41.62
4,2,3/1/2016 0:00,3/1/2016 0:00,5,30.43,-73.971741,40.792183,3,N,-74.177170,40.695053,1,98.0,0.0,0.0,0.00,15.50,0.3,113.80