In [1]:
import pandas as pd

In [12]:
detail_df = pd.read_csv('data_sets/Details.csv')

In [13]:
detail_df

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
0,B-25681,1096,658,7,Electronics,Electronic Games,COD
1,B-26055,5729,64,14,Furniture,Chairs,EMI
2,B-25955,2927,146,8,Furniture,Bookcases,EMI
3,B-26093,2847,712,8,Electronics,Printers,Credit Card
4,B-25602,2617,1151,4,Electronics,Phones,Credit Card
...,...,...,...,...,...,...,...
1495,B-25700,7,-3,2,Clothing,Hankerchief,COD
1496,B-25757,3151,-35,7,Clothing,Trousers,EMI
1497,B-25973,4141,1698,13,Electronics,Printers,COD
1498,B-25698,7,-2,1,Clothing,Hankerchief,COD
1499,B-25993,4363,305,5,Furniture,Tables,EMI

In [11]:
detail_df['Order ID'].dtype

dtype('<M8[ns]')

In [10]:
detail_df['Order ID'] = pd.to_datetime(detail_df['Order ID'], errors='coerce')

In [14]:
order_df = pd.read_csv('data_sets/Orders.csv')

In [15]:
order_df.head()

  Order ID  Order Date CustomerName           State     City
0  B-26055  10-03-2018    Harivansh   Uttar Pradesh  Mathura
1  B-25993  03-02-2018       Madhav           Delhi    Delhi
2  B-25973  24-01-2018  Madan Mohan   Uttar Pradesh  Mathura
3  B-25923  27-12-2018        Gopal     Maharashtra   Mumbai
4  B-25757  21-08-2018     Vishakha  Madhya Pradesh   Indore

In [16]:
order_df['Order Date'].dtype

dtype('O')

In [17]:
order_df['Order Date'] = pd.to_datetime(order_df['Order Date'], errors='coerce')

In [18]:
order_df['Order Date'].dtype

dtype('<M8[ns]')

In [19]:
type(order_df['Order Date'])

pandas.core.series.Series

In [20]:
order_df.to_csv('Order_details.csv', index=False)