In [1]:
import pandas as pd

In [3]:
squre_dict = {num : num*num for num in range(1,5)}
squre_dict

{1: 1, 2: 4, 3: 9, 4: 16}

In [5]:
old_price = {'milk': 1.02, 'coffee': 2.5, 'bread': 2.5}
dollar_to_pound = 0.76

In [8]:
{item:value*dollar_to_pound for (item, value) in old_price.items()}

{'milk :Rs': 0.7752, 'coffee :Rs': 1.9, 'bread :Rs': 1.9}

In [9]:
original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

In [10]:
even_dict = {k:v for (k, v) in original_dict.items() if v%2==0}
even_dict

{'jack': 38, 'michael': 48}

In [13]:
{item:value for (item, value) in even_dict.items() if value%2==0 if value>40}

{'michael': 48}

In [19]:
# in case value 40, print value old othewise <40 so young 
{k:('old' if v>40 else 'young') for(k, v) in original_dict.items()}

{'jack': 'young', 'michael': 'old', 'guido': 'old', 'john': 'young'}

In [21]:
{k:('Old' if v>40 else "Young")  for (k, v) in original_dict.items()}

{'jack': 'Young', 'michael': 'Old', 'guido': 'Old', 'john': 'Young'}

In [22]:
names = ['Mariya', 'Gandllif', 'Batman']
profession = ['Programmer', 'Wizard', 'superhero']

In [30]:
{(key if key!= 'Mariya' else 'Hamza'):(value if value!= 'Programmer' else 'Businessman') for (key, value) in zip(names, profession)}

{'Hamza': 'Businessman', 'Gandllif': 'Wizard', 'Batman': 'superhero'}

In [33]:
my_dict = {
    "Spider" : "photographer",
    "Bat" : "Philanthropist",
    "Wonder Wo" : "nurse"
}

In [37]:
{(key + 'man') : (val if val!='photographer' else 'SuperHero') for (key, val) in my_dict.items()}

{'Spiderman': 'SuperHero', 'Batman': 'Philanthropist', 'Wonder Woman': 'nurse'}

In [39]:
# Nested Dictionary 
{k1: {k2 : k1*k2 for k2 in range(1,6)} for k1 in range(2, 5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20}}

In [40]:
{k1 : {k1*k2 for k2 in range(1,6)} for k1 in range(2,5)}

{2: {2, 4, 6, 8, 10}, 3: {3, 6, 9, 12, 15}, 4: {4, 8, 12, 16, 20}}

In [42]:
# List Comprehension
[num*num for num in range(1,6)]

[1, 4, 9, 16, 25]

In [43]:
fruits = ["apple", "banana", "Mango"]

In [45]:
[fruit.upper() for fruit in fruits]

['APPLE', 'BANANA', 'MANGO']

In [46]:
bits = [False, True,False, True,False, True,True,False, True]

In [47]:
[1 if b==False else 0 for b in bits]

[1, 0, 1, 0, 1, 0, 0, 1, 0]

In [49]:
[1 if b==False else 0 for b in bits]

[1, 0, 1, 0, 1, 0, 0, 1, 0]

In [50]:
my_string = "HelloMyNameIsHamza"

In [55]:
"".join([i if i.islower() else " " + i.lower() if i in ["N", "I", "M"] else " " + i for i in my_string])[1:]

'Hello my name is Hamza'

In [56]:
# lambda is basically anonymous function in which we can have multiple arguments but can have multiple arguments but have only one expression
x = lambda a : a+10
print(x(5))

15

In [58]:
# multiple args 
x  = lambda a, b : a*b
x(5,6)

30

In [59]:
x = lambda a, b, c : a*(b+c)
x(1, 2, 4)

6

In [60]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [62]:
mytuple = ("apple", "banana", "cherry")

'banana'

In [63]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [64]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}