In [1]:
print("Hello")

Hello

In [22]:
b = "Hello World"
print(b[2:5])

llo

In [3]:
b[:-1]

'Hello Worl'

In [9]:
b[:-1]

'Hello Worl'

In [12]:
acc_num = "2345678990000"
member_Number = acc_num[:-1]
member_Number

'234567899000'

In [14]:
b

'Hello World'

In [13]:
b[-5:-2]

'Wor'

In [15]:
b.upper()

'HELLO WORLD'

In [16]:
b.lower()

'hello world'

In [23]:
# to remove white spaces 
b.strip()

'Hello World'

In [28]:
a= "Hello"
b = "world"
c = a + " " + b 
c

'Hello world'

In [30]:
age = 25
name = "Hamza"
txt = "My name is {} and i am {} years old".format(name, age)
txt

'My name is Hamza and i am 25 years old'

In [32]:
some_text = ("My name is \"Hamza\" and i am from Nowshera")
some_text

'My name is "Hamza" and i am from Nowshera'

In [42]:
some_data = ("this is some \"Hamza\" and this is it")
some_data

'this is some "Hamza" and this is it'

In [43]:
print("it's alright")

it's alright

In [44]:
name = "hamza"
name.capitalize()

'Hamza'

In [45]:
name = "basit"
name.capitalize()

'Basit'

In [46]:
str_name = "Abdul Basit"
str_name.casefold()

'abdul basit'

In [48]:
x = "Hello, welcome to my world."
find_x = x.endswith(".")
find_x

True

In [49]:
10>7

True

In [50]:
10==10

True

In [51]:
10<3

False

In [55]:
thislist = ["apple", "banana", "cherry"]
[name.upper() for name in thislist]

['APPLE', 'BANANA', 'CHERRY']

In [1]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "Kiwi"
x = tuple(y)
x

('apple', 'Kiwi', 'cherry')

In [3]:
this_list = ["Apple", "Banana", "Cherry", "Apple"]
set(this_list)

{'Apple', 'Banana', 'Cherry'}