### How to Analyz DataFrame 

###### https://www.youtube.com/watch?v=4hYOkHijtNw

In [1]:
import pandas as pd 
import re

In [2]:
data = pd.read_csv("1. Weather Data.csv")

In [3]:
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
# 8748 rows and 8 columns 
data.shape

(8784, 8)

In [5]:
# This attribute provide the index of the dataframes 
data.index

RangeIndex(start=0, stop=8784, step=1)

In [6]:
#Getting columns names 
data.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [7]:
# Getting columns data types 
data.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

In [8]:
# finding the unique value for a single column 
data["Weather"].value_counts().unique()

array([2106, 2069, 1728, 1326,  390,  306,  188,  150,  116,   80,   60,
         41,   37,   19,   18,   16,   15,   14,   11,    7,    6,    5,
          4,    3,    2,    1], dtype=int64)

In [9]:
# finding the unique values for all the dataframe 
data.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [10]:
len(data.Weather.unique())

50

In [11]:
# it shows the total number of non-null values in each column.it can be applied on a single column as well 
data.count()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

In [12]:
data["Weather"].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Freezing Rain,Fog                             4
Snow Showers,Fog                              4
Moderate Snow                                 4
Freezing Fog                                  4
Rain,Snow,Ice Pellets                         4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Snow Showers                     2
Drizzle,Snow                                  2
Freezing Rain,Snow Grains                     1
Moderate Rain,Fog                             1
Snow Pellets                                  1
Thunderstorms,Moderate Rain Showers,Fog       1
Rain,Ice Pellets                              1
Freezing Rain,Ice Pellets,Fog                 1
Rain Showers,Fog                              1
Drizzle,Ice Pellets,Fog                       1
Rain,Snow,Fog                                 1
Thunderstorms,Heavy Rain Showers              1
Thunderstorms,Rain,Fog                        1
Rain,Snow Grains                              1
Name: Weather, dtype: int64

In [13]:
len(data)

8784

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [15]:
data.Weather.unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [16]:
len(data[data["Weather"] == "Clear"])

1326

In [17]:
data.groupby('Weather').get_group('Clear')

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

In [19]:
data[data.eq("Clear").any(1)].head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear

In [21]:
# find the number of times when the speed is 4km/h
len(data[
    data["Wind Speed_km/h"] == 4
])

474

In [22]:
# Rename the column of 'Weather' of the dataframe to 'Weather Condtion'
data.rename(columns= {'Weather': 'Weather Condition'}, inplace=True)

In [23]:
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [24]:
# find the null values in the data 
data.isnull().sum()

Date/Time            0
Temp_C               0
Dew Point Temp_C     0
Rel Hum_%            0
Wind Speed_km/h      0
Visibility_km        0
Press_kPa            0
Weather Condition    0
dtype: int64

In [25]:
# finding the notnull values 
data.notnull().sum()

Date/Time            8784
Temp_C               8784
Dew Point Temp_C     8784
Rel Hum_%            8784
Wind Speed_km/h      8784
Visibility_km        8784
Press_kPa            8784
Weather Condition    8784
dtype: int64

In [26]:
# Find the visibily column mean value 
data.Visibility_km.mean()

27.664446721311478

In [27]:
# to chk the standard deviation
data["Press_kPa"].std()

0.8440047459486483

In [28]:
# to chk the variance in column Rel Hum_%
data["Rel Hum_%"].var()

286.24855019850196

In [29]:
# find all instances when the 'Snow' was recorded 
len(data[data["Weather Condition"] == "Snow"])

390

In [30]:
# Finding the value in weather condtion in which snow is included 
data[
    data["Weather Condition"].str.contains("Sn[a-z]*", flags=re.I, regex=True)
    ]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
41,1/2/2012 17:00,-2.1,-9.5,57,22,25.0,99.66,Snow Showers
44,1/2/2012 20:00,-5.6,-13.4,54,24,25.0,100.07,Snow Showers
45,1/2/2012 21:00,-5.8,-12.8,58,26,25.0,100.15,Snow Showers
47,1/2/2012 23:00,-7.4,-14.1,59,17,19.3,100.27,Snow Showers
48,1/3/2012 0:00,-9.0,-16.0,57,28,25.0,100.35,Snow Showers
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [31]:
# Find all instance when windspeed is above 24 and visibility =25
data[
    (data["Wind Speed_km/h"]>24) &
    (data["Visibility_km"] == 25)
][["Wind Speed_km/h", "Visibility_km"]]

      Wind Speed_km/h  Visibility_km
23                 30           25.0
24                 35           25.0
25                 39           25.0
26                 32           25.0
27                 33           25.0
...               ...            ...
8705               26           25.0
8753               28           25.0
8755               26           25.0
8759               28           25.0
8760               26           25.0

[308 rows x 2 columns]

In [33]:
# mean value aginst each weather conditon column 
data.groupby("Weather Condition").mean()

In [34]:
# what is the min and max value against weather condition column

In [35]:
# for min 
data.groupby("Weather Condition").min()

In [36]:
# for max
data.groupby("Weather Condition").max()

In [37]:
# show all the records where weather conditoin is Fog
data[data["Weather Condition"].str.contains("fog", flags=re.I, regex=True)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8739,12/30/2012 3:00,-9.1,-10.4,90,11,3.6,100.30,"Snow,Fog"
8740,12/30/2012 4:00,-9.3,-10.6,90,13,9.7,100.28,"Snow,Fog"
8741,12/30/2012 5:00,-9.1,-10.4,90,11,4.0,100.32,"Snow,Fog"
8742,12/30/2012 6:00,-9.3,-10.8,89,17,8.0,100.39,"Snow,Fog"
8770,12/31/2012 10:00,-7.4,-8.9,89,4,6.4,101.05,"Snow,Fog"

In [38]:
# find record where weather is clear and visibility above 40 
data[
    (data["Weather Condition"] == "Clear") &
    (data["Visibility_km"] >40)
]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
351,1/15/2012 15:00,-15.4,-22.8,53,24,48.3,102.71,Clear
352,1/15/2012 16:00,-15.1,-22.8,52,24,48.3,102.79,Clear
425,1/18/2012 17:00,-11.3,-18.8,54,26,48.3,101.54,Clear
440,1/19/2012 8:00,-13.7,-18.4,68,19,48.3,101.84,Clear
441,1/19/2012 9:00,-12.7,-17.2,69,17,48.3,101.73,Clear
...,...,...,...,...,...,...,...,...
8384,12/15/2012 8:00,-10.7,-15.6,67,13,48.3,102.69,Clear
8385,12/15/2012 9:00,-10.4,-15.9,64,19,48.3,102.74,Clear
8389,12/15/2012 13:00,-8.4,-14.7,60,19,48.3,102.64,Clear
8631,12/25/2012 15:00,-7.1,-13.7,59,17,48.3,101.98,Clear
8632,12/25/2012 16:00,-7.5,-13.9,60,11,48.3,102.03,Clear

In [39]:
# find record weather is clear and relative humidity is above 50 or visibility above 40
data[
    (data["Weather Condition"] == "Clear")&
    (data["Rel Hum_%"] >50) |
    (data["Visibility_km"]>40)
][["Weather Condition", "Rel Hum_%", "Visibility_km"]]

     Weather Condition  Rel Hum_%  Visibility_km
106       Mainly Clear         73           48.3
107       Mainly Clear         70           48.3
108       Mainly Clear         69           48.3
109       Mainly Clear         66           48.3
110       Mainly Clear         65           48.3
...                ...        ...            ...
8749     Mostly Cloudy         73           48.3
8750      Mainly Clear         70           48.3
8751      Mainly Clear         70           48.3
8752      Mainly Clear         72           48.3
8756             Clear         80           25.0

[2921 rows x 3 columns]